<% for(var i=0; i<user.length; i++) { %>
<tr>
    <th scope=row><h3><%= i+1 %></h3></th>
    <td><h3 class="nickname"><%= user[i].name %></h3></td>
    <td><h3><%= user[i].score %> points</h3></td>
</tr>
<% } %>