.idea/
__pycache__/
*.pyc

platform/frontend/static/admin/*
platform/frontend/static/node_modules/*

platform/static/*

# Configs
platform/asya/parameters.py

# Не храним базы данных
db.sqlite3

db/*
logs/*