<div class="container">
    <div class="timer row" style="width: 500px" id="timerStart">
        Игра закончилась<br />
        <span style="font-size: 20pt">Всем спасибо, Вы классные!</span><br />
    </div>
</div>