<button type="button" class="helper_button btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
</button>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Помощь</h4>
      </div>
      <div class="modal-body">
        <h2>Привет!</h2>
        <p>Это тестовая платформа для тренировки своих сил для участников Ugra School CTF 2017.</p>
        <p>Здесь представлены задания похожие на те, которые будут в этом году.</p>
        <p>Все задания будут разделены на 5 категорий:</p>
        <ul>
            <li>WEB -задачи на веб-уязвимости, такие как SQL injection, XSS и другие;</li>
            <li>Stegano - задачи на стеганографию;</li>
            <li>PPC - задачи на программирование (professional programming and coding);</li>
            <li>Crypto – задачи на криптографию;</li>
            <li>Joy - различные развлекательные задачи вроде коллективной фотографии или мини-игры</li>
        </ul>

        <p>В каждому заданию требуется найти ответ и отправить его. Ответом является флаг — набор символов или произвольная фраза. Каждое задание оценивается различным количеством очков, в зависимости от сложности.</p>

        <p>Для того чтобы понять принцип работы, попробуйте решить задание "Тестовое задание".</p>
        <p>Остальные задания немного сложнее. Для этого необходимо почитать сайт <a href="http://kmb.ufoctf.ru" target="_blank">http://kmb.ufoctf.ru</a></p>
        <p>Удачи! По всем вопросам пишите <a href="https://vk.com/mukovkin" target="_blank">мне</a></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>