<div class="container">
    <div class="timer row" style="width: 500px" id="timerStart">
        Игра закончилась<br />
        <span style="font-size: 20pt">Всем спасибо, Вы классные!</span><br />
    </div>
    <div class="admin_button" style="display: none">
        <a href="/admin/" alt="Пока идет таймер добавь пару квестов, бро">
            <button type="button" class="btn btn-success">Перейти в админ-панель</button>
        </a>
    </div>
</div>