<div class="container">
    <div class="affix mainbar navbar-inverse" style="left:0px">
        <ul class="menu">
            <a href="#index"><li class="item active item_index"><span class="icon glyphicon glyphicon-stats">&nbsp;</span><span>Монитор</span></li></a>
            <a href="#quest"><li class="item item_quest"><span class="icon glyphicon glyphicon-hdd">&nbsp;</span><span>Квесты</span></li></a>
            <a href="#category"><li class="item item_category"><span class="icon glyphicon glyphicon-user">&nbsp;</span><span>Категории</span></li></a>
            <!--<a href="#teams"><li class="item item_teams"><span class="icon glyphicon glyphicon-user">&nbsp;</span><span>Команды</span></li></a>-->
            <a href="#messages"><li class="item item_messages"><span class="icon glyphicon glyphicon-envelope">&nbsp;</span><span>Сообщения</span></li></a>
            <a href="#users"><li class="item item_users"><span class="icon glyphicon glyphicon-user">&nbsp;</span><span>Юзеры</span></li></a>
            <a href="#config"><li class="item item_config"><span class="icon glyphicon glyphicon-cog">&nbsp;</span><span>Конфиг</span></li></a>
        </ul>
        <ul class="menu return-to-site">
            <a href="/index.html" target="_blank"><li class="item"><span class="icon glyphicon glyphicon-share-alt">&nbsp;</span><span>На сайт</span></li></a>
        </ul>
    </div>
    <div id="page">

    </div>

</div>