@media only screen and (min-width: 0),only screen and (min-height:0) {
    .login-page-background_1 {
        background-image:url("https://yastatic.net/passport-frontend/_/Nem9l0iF7_SLxsZA95BLuP2A9Cc.jpg")
    }

    .login-page-background_2 {
        background-image: url("https://yastatic.net/passport-frontend/_/NEHWalmQyiQ4QBv1nJvONmoqVYc.jpg")
    }

    .login-page-background_3 {
        background-image: url("https://yastatic.net/passport-frontend/_/l-bzo5sQhVV0yxH8wQa0Ag67_JA.jpg")
    }

    .login-page-background_4 {
        background-image: url("https://yastatic.net/passport-frontend/_/RmRQsu6oqdIK370ejhXDmiIZ8vc.jpg")
    }

    .login-page-background_5 {
        background-image: url("https://yastatic.net/passport-frontend/_/nktbqZigIbZJFzSX9eWC7b6lrW4.jpg")
    }

    .login-page-background_6 {
        background-image: url("https://yastatic.net/passport-frontend/_/JOw1zPQDnxVOWLoTCUDrhNOCFqc.jpg")
    }

    .login-page-background_7 {
        background-image: url("https://yastatic.net/passport-frontend/_/vcXa7mZk0hiF9i_TpBXAQBKfN80.jpg")
    }

    .login-page-background_8 {
        background-image: url("https://yastatic.net/passport-frontend/_/bAuSnHDX7UXZeM8O0QCyu6y62jA.jpg")
    }

    .login-page-background_9 {
        background-image: url("https://yastatic.net/passport-frontend/_/QcoFxUh8zk6ibcefVyHgrtEDppA.jpg")
    }

    .login-page-background_10 {
        background-image: url("https://yastatic.net/passport-frontend/_/8Qo2kxH3sd-pWwJtwya2DEcW9g8.jpg")
    }

    .login-page-background_11 {
        background-image: url("https://yastatic.net/passport-frontend/_/ILtjlAuknTbLC2jco4QwgCUoPm4.jpg")
    }

    .login-page-background_12 {
        background-image: url("https://yastatic.net/passport-frontend/_/EUxceAgVsx2B01NrliHAcXRG9Hs.jpg")
    }

    .login-page-background_13 {
        background-image: url("https://yastatic.net/passport-frontend/_/BEygnE_rMgwtCA5MoRGgAAn6JaU.jpg")
    }

    .login-page-background_14 {
        background-image: url("https://yastatic.net/passport-frontend/_/p3UiqeGlRey2Qcw6PZug_bmlp1Q.jpg")
    }

    .login-page-background_15 {
        background-image: url("https://yastatic.net/passport-frontend/_/rPqwIZGQffqYicjiSMjvqp0gX00.jpg")
    }

    .login-page-background_16 {
        background-image: url("https://yastatic.net/passport-frontend/_/lyajQBu94eJXSG04oJlVw7I9FmI.jpg")
    }

    .login-page-background_17 {
        background-image: url("https://yastatic.net/passport-frontend/_/jBcJnPbkG3XlGYk1YRV7oc8t6dw.jpg")
    }

    .login-page-background_18 {
        background-image: url("https://yastatic.net/passport-frontend/_/u_hQPr6nRYnSlBquXKbHDEGB4Rs.jpg")
    }

    .login-page-background_100 {
        background-image: url("https://yastatic.net/passport-frontend/_/LM2A0jUlF6at3mTFJaF8rIm-K_c.jpg")
    }

    .login-page-background_200 {
        background-image: url("https://yastatic.net/passport-frontend/_/U1A7YMUFOi9_0vOJq2EXONKGSdU.jpg")
    }

    .login-page-background_301 {
        background-image: url("https://yastatic.net/passport-frontend/_/sJZwQC8oVeB1ze5EX2keU_3YcHo.jpg")
    }

    .login-page-background_302 {
        background-image: url("https://yastatic.net/passport-frontend/_/KoN-Mxl9VUcIqkh3nMKk8HVsXy4.jpg")
    }

    .login-page-background_303 {
        background-image: url("https://yastatic.net/passport-frontend/_/JbJn-_0xLXOZ65hnG7S8sybbLYc.jpg")
    }

    .login-page-background_304 {
        background-image: url("https://yastatic.net/passport-frontend/_/t6U_dqt6gFAzol71e6oSEfSs-7Y.jpg")
    }

    .login-page-background_305 {
        background-image: url("https://yastatic.net/passport-frontend/_/HIw0pxwjWddlIYwgUzUfvG8b0L0.jpg")
    }

    .login-page-background_306 {
        background-image: url("https://yastatic.net/passport-frontend/_/KK93YFCFXW9Fij_JqBKfhPXyCfk.jpg")
    }

    .login-page-background_307 {
        background-image: url("https://yastatic.net/passport-frontend/_/ru3QNhTACwtpvBdGEphrQYZPG7g.jpg")
    }

    .login-page-background_401 {
        background-image: url("https://yastatic.net/passport-frontend/_/ESPpHs5NMsBplGgEbAbCx3VbgJs.jpg")
    }

    .login-page-background_402 {
        background-image: url("https://yastatic.net/passport-frontend/_/e_Y6ygWL0sIGhNYPX_zh3sEUGtA.jpg")
    }

    .login-page-background_403 {
        background-image: url("https://yastatic.net/passport-frontend/_/lu-8NH085Yri3Kap1FruTdwvzk4.jpg")
    }

    .login-page-background_501 {
        background-image: url("https://yastatic.net/passport-frontend/_/P96u7EDQJd0CgaLnuudG4ZeFDcQ.jpg")
    }

    .login-page-background_502 {
        background-image: url("https://yastatic.net/passport-frontend/_/KTMVrTQFuVy4wjwdlUHiG_qINVg.jpg")
    }

    .login-page-background_503 {
        background-image: url("https://yastatic.net/passport-frontend/_/0vs8dULxmhjt1HKUhgqFcO0WCzw.jpg")
    }

    .login-page-background_601 {
        background-image: url("https://yastatic.net/passport-frontend/_/eC0esJ57QWvYU6R9rT62wZ2EVrQ.jpg")
    }

    .login-page-background_602 {
        background-image: url("https://yastatic.net/passport-frontend/_/HaVKTYX3vsc1Z7O9o12zvfn2tFE.jpg")
    }

    .login-page-background_700 {
        background-image: url("https://yastatic.net/passport-frontend/_/187bHl-qUJ-X_b9qGuB8F9G3tL0.jpg")
    }

    .login-page-background_901 {
        background-image: url("https://yastatic.net/passport-frontend/_/LwycXb7X79aTT3bXfeTYJ5ocYfk.jpg")
    }

    .login-page-background_902 {
        background-image: url("https://yastatic.net/passport-frontend/_/ncCqPwx-DESUqc4Uz8zAui80MlQ.jpg")
    }

    .login-page-background_903 {
        background-image: url("https://yastatic.net/passport-frontend/_/H-XI3zIr328movJILTgfZr5vBS8.jpg")
    }

    .login-page-background_904 {
        background-image: url("https://yastatic.net/passport-frontend/_/o7qPBkkwo6B2UDPZyE1IgLZngTg.jpg")
    }

    .login-page-background_905 {
        background-image: url("https://yastatic.net/passport-frontend/_/mTSYz9WHVFw5kkjg50xUErdAyqI.jpg")
    }

    .login-page-background_906 {
        background-image: url("https://yastatic.net/passport-frontend/_/k-zlwaywNfcvKlpCTxd7V7WPTWw.jpg")
    }

    .login-page-background_907 {
        background-image: url("https://yastatic.net/passport-frontend/_/bAb0FMsRl1eowwQOJWb9LDGtMUI.jpg")
    }

    .login-page-background_908 {
        background-image: url("https://yastatic.net/passport-frontend/_/7qKgPO6bT9HbZcHXhseUtmQQaw0.jpg")
    }

    .login-page-background_1001 {
        background-image: url("https://yastatic.net/passport-frontend/_/f8O3TNZcqCFNdBaldM2dz-8h8Ag.jpg")
    }

    .login-page-background_1002 {
        background-image: url("https://yastatic.net/passport-frontend/_/6goXoblvS9Do_HneeqrYUK8UVzY.jpg")
    }

    .login-page-background_1003 {
        background-image: url("https://yastatic.net/passport-frontend/_/sLRwKGmkIJ59lqyaqIwQItMti54.jpg")
    }

    .login-page-background_1004 {
        background-image: url("https://yastatic.net/passport-frontend/_/fK6jLvwOc4KXZ3uFFOHZBWKeabo.jpg")
    }

    .login-page-background_1005 {
        background-image: url("https://yastatic.net/passport-frontend/_/8yxzXa7M0ZdpahQqFKpCT_CsUJ4.jpg")
    }

    .login-page-background_1100 {
        background-image: url("https://yastatic.net/passport-frontend/_/SF1pHtE_J0k55cPFTQgM2Pu2s4U.jpg")
    }

    .login-page-background_1200 {
        background-image: url("https://yastatic.net/passport-frontend/_/VClYP-IWr335jnP6ATMko8BjO6s.jpg")
    }

    .login-page-background_1301 {
        background-image: url("https://yastatic.net/passport-frontend/_/fdTp9O8SJ8GRHqoVGNOnPOKsM_M.jpg")
    }

    .login-page-background_1302 {
        background-image: url("https://yastatic.net/passport-frontend/_/TGQdWmAjursO5ZZXx2tLZjCJxbo.jpg")
    }

    .login-page-background_1303 {
        background-image: url("https://yastatic.net/passport-frontend/_/FJaJ0OuiEMo4n9JJFjOiIojDHa4.jpg")
    }

    .login-page-background_1400 {
        background-image: url("https://yastatic.net/passport-frontend/_/OrzawqX-nv2KE1oU-HjmUoUDHBI.jpg")
    }

    .login-page-background_1500 {
        background-image: url("https://yastatic.net/passport-frontend/_/ze8fHSth1tzeLkyfXG8tjFVwPO0.jpg")
    }

    .login-page-background_1601 {
        background-image: url("https://yastatic.net/passport-frontend/_/Lc8v4-N_s60Io4JlhXxSffx0CIg.jpg")
    }

    .login-page-background_1602 {
        background-image: url("https://yastatic.net/passport-frontend/_/juZ6gnei2YmMcNJFqO64gbygEUk.jpg")
    }

    .login-page-background_1603 {
        background-image: url("https://yastatic.net/passport-frontend/_/4qv-0D5CXYnyE0TWIG7t6sbKctw.jpg")
    }

    .login-page-background_1604 {
        background-image: url("https://yastatic.net/passport-frontend/_/s2MognW7oqFEJGyR7BcIIwYcPvk.jpg")
    }
}

@media only screen and (min-width: 1025px),only screen and (min-height:577px) {
    .login-page-background_1 {
        background-image:url("https://yastatic.net/passport-frontend/_/eNMZaw1aPIjgE6pE0VuN9P2pLWI.jpg")
    }

    .login-page-background_2 {
        background-image: url("https://yastatic.net/passport-frontend/_/U4m2H6_GIRmyD-AuXVAtc9aNNrc.jpg")
    }

    .login-page-background_3 {
        background-image: url("https://yastatic.net/passport-frontend/_/mAYXlpuwtKkBMzOddlLyGrcZcTM.jpg")
    }

    .login-page-background_4 {
        background-image: url("https://yastatic.net/passport-frontend/_/wq-wbnRMbKEZMUmlcN1QckP43fg.jpg")
    }

    .login-page-background_5 {
        background-image: url("https://yastatic.net/passport-frontend/_/QA_wviBnK7_r0kEPkSLJtt7tWo8.jpg")
    }

    .login-page-background_6 {
        background-image: url("https://yastatic.net/passport-frontend/_/3xZUAqQkZ5UkNBdidsHeRe63hkQ.jpg")
    }

    .login-page-background_7 {
        background-image: url("https://yastatic.net/passport-frontend/_/gCApsnXmcR2JsCREPKKww8Bbwe4.jpg")
    }

    .login-page-background_8 {
        background-image: url("https://yastatic.net/passport-frontend/_/AFOTuhpPWa34INjYD-bJDnT_CfA.jpg")
    }

    .login-page-background_9 {
        background-image: url("https://yastatic.net/passport-frontend/_/OMCvVkHyl8XwVrOtLBmudpga1OU.jpg")
    }

    .login-page-background_10 {
        background-image: url("https://yastatic.net/passport-frontend/_/T2GgDT2NWt9U2uQ1qXa0gkB67D8.jpg")
    }

    .login-page-background_11 {
        background-image: url("https://yastatic.net/passport-frontend/_/TtFJWOpkDaBr-dbpKOrifidhW0U.jpg")
    }

    .login-page-background_12 {
        background-image: url("https://yastatic.net/passport-frontend/_/jIkysmuuxE9GDsul8eGLpbtKaJA.jpg")
    }

    .login-page-background_13 {
        background-image: url("https://yastatic.net/passport-frontend/_/WxLFnDHQ2a9Gvx0s63bzFMbT9xk.jpg")
    }

    .login-page-background_14 {
        background-image: url("https://yastatic.net/passport-frontend/_/CSR431mU9q59vxzby7EwIlIrmgI.jpg")
    }

    .login-page-background_15 {
        background-image: url("https://yastatic.net/passport-frontend/_/3AThHZmqwHP1UClx_dTlne1wS4o.jpg")
    }

    .login-page-background_16 {
        background-image: url("https://yastatic.net/passport-frontend/_/Qc4QthT_PKmVeNrFmQ2BdtAThRg.jpg")
    }

    .login-page-background_17 {
        background-image: url("https://yastatic.net/passport-frontend/_/ooAHKPlJ5uT1G0vi6IqAlc1tP7M.jpg")
    }

    .login-page-background_18 {
        background-image: url("https://yastatic.net/passport-frontend/_/dQ0Qy_vLmaEWRCj4vh_LyBl6xBs.jpg")
    }

    .login-page-background_100 {
        background-image: url("https://yastatic.net/passport-frontend/_/8GEPuZ6t3HX5eavY-CSCTM_fQ3k.jpg")
    }

    .login-page-background_200 {
        background-image: url("https://yastatic.net/passport-frontend/_/yiRU_YrXuBfXrOdn3007F3mb6tk.jpg")
    }

    .login-page-background_301 {
        background-image: url("https://yastatic.net/passport-frontend/_/PXwYjLohZBHsWJUlclihaaAvUY8.jpg")
    }

    .login-page-background_302 {
        background-image: url("https://yastatic.net/passport-frontend/_/1UgWP7oNNpGxtIkN5c_DjTgSTfU.jpg")
    }

    .login-page-background_303 {
        background-image: url("https://yastatic.net/passport-frontend/_/O1L9-4JsKpCdvUA918cps-nL0iM.jpg")
    }

    .login-page-background_304 {
        background-image: url("https://yastatic.net/passport-frontend/_/hlLf0pzYO7d0nLBPniA2nU8ihds.jpg")
    }

    .login-page-background_305 {
        background-image: url("https://yastatic.net/passport-frontend/_/LcfGxZCLe7y0AJ6SwgYRKOIUsxU.jpg")
    }

    .login-page-background_306 {
        background-image: url("https://yastatic.net/passport-frontend/_/NAx58a2WLy5PZZbkZKKxVh_pzss.jpg")
    }

    .login-page-background_307 {
        background-image: url("https://yastatic.net/passport-frontend/_/6b-ow82-RhNh9gcvqlPZ70xQTPc.jpg")
    }

    .login-page-background_401 {
        background-image: url("https://yastatic.net/passport-frontend/_/9krGbVk1if4bJH-M2ZvJRTiKX0g.jpg")
    }

    .login-page-background_402 {
        background-image: url("https://yastatic.net/passport-frontend/_/5pxu6Kc5SeNNisXXhD1aaESAqaE.jpg")
    }

    .login-page-background_403 {
        background-image: url("https://yastatic.net/passport-frontend/_/I-cDCiOwEqWDNn3JS00VzpRMEPs.jpg")
    }

    .login-page-background_501 {
        background-image: url("https://yastatic.net/passport-frontend/_/UctUrhOiu_MaeJdRpwK3-uBvZZo.jpg")
    }

    .login-page-background_502 {
        background-image: url("https://yastatic.net/passport-frontend/_/d0ao4y1PQaZuoMv0y4HBcVwvSVk.jpg")
    }

    .login-page-background_503 {
        background-image: url("https://yastatic.net/passport-frontend/_/rtOKAqVtVCr8TNecNgQmh_7WYPw.jpg")
    }

    .login-page-background_601 {
        background-image: url("https://yastatic.net/passport-frontend/_/AOKRF1jdv4hUfLgnbPtqqgx1PIU.jpg")
    }

    .login-page-background_602 {
        background-image: url("https://yastatic.net/passport-frontend/_/X7QL9Eiii55YHGLivrZVeatMaE.jpg")
    }

    .login-page-background_700 {
        background-image: url("https://yastatic.net/passport-frontend/_/tVwq666swI0KQfJUq4jMbNdKbSs.jpg")
    }

    .login-page-background_901 {
        background-image: url("https://yastatic.net/passport-frontend/_/dMF_wq4peyIVzguWf0DQFGbPygY.jpg")
    }

    .login-page-background_902 {
        background-image: url("https://yastatic.net/passport-frontend/_/7vYLKRB1AaTi08dkuIuQzpktCn0.jpg")
    }

    .login-page-background_903 {
        background-image: url("https://yastatic.net/passport-frontend/_/A36_9J_6nqvNRRxwMM76j-ES9xU.jpg")
    }

    .login-page-background_904 {
        background-image: url("https://yastatic.net/passport-frontend/_/ES5LwsMyb7B2nI49ZJtCAZ352Js.jpg")
    }

    .login-page-background_905 {
        background-image: url("https://yastatic.net/passport-frontend/_/3swbMJBci8vPUBGmEAH7Zi86qAQ.jpg")
    }

    .login-page-background_906 {
        background-image: url("https://yastatic.net/passport-frontend/_/8Ra33iFwLQhyViadQKycCtoDwzU.jpg")
    }

    .login-page-background_907 {
        background-image: url("https://yastatic.net/passport-frontend/_/H7IGk3Jh6wLRpkdZsO4fNFiOHCM.jpg")
    }

    .login-page-background_908 {
        background-image: url("https://yastatic.net/passport-frontend/_/Rv42Ozo_eumwEqJUcHt0BP5Xar8.jpg")
    }

    .login-page-background_1001 {
        background-image: url("https://yastatic.net/passport-frontend/_/HaX8T4V9LOkBkXmMnN8vCUuC9Uc.jpg")
    }

    .login-page-background_1002 {
        background-image: url("https://yastatic.net/passport-frontend/_/ULpiWdZqZi6XlTuvV4PL9cLT-fU.jpg")
    }

    .login-page-background_1003 {
        background-image: url("https://yastatic.net/passport-frontend/_/7JEHBnbvl54uf3huWJaTzNrGmNw.jpg")
    }

    .login-page-background_1004 {
        background-image: url("https://yastatic.net/passport-frontend/_/cOvWvm9hYRN0nR2t6FhvjY-JcjM.jpg")
    }

    .login-page-background_1005 {
        background-image: url("https://yastatic.net/passport-frontend/_/uL9uTZJ9h2KcviAUm0wBohyHS7Y.jpg")
    }

    .login-page-background_1100 {
        background-image: url("https://yastatic.net/passport-frontend/_/XIRYUc0ycEdAC0eNHCQsbzFdvog.jpg")
    }

    .login-page-background_1200 {
        background-image: url("https://yastatic.net/passport-frontend/_/0HTIvxP-xyM9yGWj6jZ1FoR4qEM.jpg")
    }

    .login-page-background_1301 {
        background-image: url("https://yastatic.net/passport-frontend/_/9jH-2mg59_pvLuGbcUdh0lBP9-s.jpg")
    }

    .login-page-background_1302 {
        background-image: url("https://yastatic.net/passport-frontend/_/EiZe03AqI5bcf0m7sUsYQmaBlCE.jpg")
    }

    .login-page-background_1303 {
        background-image: url("https://yastatic.net/passport-frontend/_/20SKy_NErsjY9g_Bo4JDcuBXfE8.jpg")
    }

    .login-page-background_1400 {
        background-image: url("https://yastatic.net/passport-frontend/_/CW2LbzulTZRtIs4BJVgZTzfnb7c.jpg")
    }

    .login-page-background_1500 {
        background-image: url("https://yastatic.net/passport-frontend/_/3yxLbo_-61qBxaBuco1H09allss.jpg")
    }

    .login-page-background_1601 {
        background-image: url("https://yastatic.net/passport-frontend/_/sg8BRnbGXUiJenywOPzvRXdXw3s.jpg")
    }

    .login-page-background_1602 {
        background-image: url("https://yastatic.net/passport-frontend/_/uGusmPrc0g-HCJdyeMCqW-HozPQ.jpg")
    }

    .login-page-background_1603 {
        background-image: url("https://yastatic.net/passport-frontend/_/GXpWyQnJh95mudOGJFyyOHupdt0.jpg")
    }

    .login-page-background_1604 {
        background-image: url("https://yastatic.net/passport-frontend/_/XsKnkZIvLJntmGWEFiojEyOnJ9M.jpg")
    }
}

@media only screen and (min-width: 1281px),only screen and (min-height:721px) {
    .login-page-background_1 {
        background-image:url("https://yastatic.net/passport-frontend/_/uRld3yG1bipQDYJiyYS-x4tYNf4.jpg")
    }

    .login-page-background_2 {
        background-image: url("https://yastatic.net/passport-frontend/_/wSFnNlOE1ehClD7Lx1CH7RXlzUA.jpg")
    }

    .login-page-background_3 {
        background-image: url("https://yastatic.net/passport-frontend/_/KwbSrLFTT5YkwObToEjg4s3Gkr8.jpg")
    }

    .login-page-background_4 {
        background-image: url("https://yastatic.net/passport-frontend/_/DyBjyIymf0L1Ka_kPPa64m8czoM.jpg")
    }

    .login-page-background_5 {
        background-image: url("https://yastatic.net/passport-frontend/_/paj7hW2D9KTysQZ-goPj1fNL2Mc.jpg")
    }

    .login-page-background_6 {
        background-image: url("https://yastatic.net/passport-frontend/_/2UkBoEcyvFDAI4KH22MNLpcD3Mg.jpg")
    }

    .login-page-background_7 {
        background-image: url("https://yastatic.net/passport-frontend/_/RlWFB7ldh5PfFZ5F051F55lgGf0.jpg")
    }

    .login-page-background_8 {
        background-image: url("https://yastatic.net/passport-frontend/_/xODPZUS-jC7FCEvTMObCDrF6klo.jpg")
    }

    .login-page-background_9 {
        background-image: url("https://yastatic.net/passport-frontend/_/HnusE02oLZK44BqSXL-1EnbW1SE.jpg")
    }

    .login-page-background_10 {
        background-image: url("https://yastatic.net/passport-frontend/_/q4kPJTaXA8rMedOqVei3i6b2kwY.jpg")
    }

    .login-page-background_11 {
        background-image: url("https://yastatic.net/passport-frontend/_/OgDDejoY7yWQtoPfGMze2hCTpRA.jpg")
    }

    .login-page-background_12 {
        background-image: url("https://yastatic.net/passport-frontend/_/ZCrSA47qQIWpSIKI4iJQ4dM1uVs.jpg")
    }

    .login-page-background_13 {
        background-image: url("https://yastatic.net/passport-frontend/_/4ivlbdpzSFGjBcLdg4hNuLxcntE.jpg")
    }

    .login-page-background_14 {
        background-image: url("https://yastatic.net/passport-frontend/_/PMi2AH6y445CiPREPHAFOENXWU8.jpg")
    }

    .login-page-background_15 {
        background-image: url("https://yastatic.net/passport-frontend/_/dMfq_0gi6qVIN-tLRPA6vcBwVpI.jpg")
    }

    .login-page-background_16 {
        background-image: url("https://yastatic.net/passport-frontend/_/pjVABYDF3FW8TGYKN4RoTV_8KbQ.jpg")
    }

    .login-page-background_17 {
        background-image: url("https://yastatic.net/passport-frontend/_/OTwhoxPcEi2_7OiRjrZqSQhQdxU.jpg")
    }

    .login-page-background_18 {
        background-image: url("https://yastatic.net/passport-frontend/_/llgf5T_4W6SemeshdjTZ91BtQ60.jpg")
    }

    .login-page-background_100 {
        background-image: url("https://yastatic.net/passport-frontend/_/EjvhPlYahYmiOq9LRAinIjJ9h-s.jpg")
    }

    .login-page-background_200 {
        background-image: url("https://yastatic.net/passport-frontend/_/hWHGrVrvcyt6leScm13TpMfEoq4.jpg")
    }

    .login-page-background_301 {
        background-image: url("https://yastatic.net/passport-frontend/_/QPPFAcSNEKpmvWVAwnOQARlTesc.jpg")
    }

    .login-page-background_302 {
        background-image: url("https://yastatic.net/passport-frontend/_/xx4b1gYnw4GRqvgY3q2Eid604Ok.jpg")
    }

    .login-page-background_303 {
        background-image: url("https://yastatic.net/passport-frontend/_/qObc3EBGVr8PgIFWiaIbPyBeqJ0.jpg")
    }

    .login-page-background_304 {
        background-image: url("https://yastatic.net/passport-frontend/_/bEJiZnkdVYGqQordZfHbgPhFvMs.jpg")
    }

    .login-page-background_305 {
        background-image: url("https://yastatic.net/passport-frontend/_/eU4V-5eOeo7lKq7KRPl0TMRDJc8.jpg")
    }

    .login-page-background_306 {
        background-image: url("https://yastatic.net/passport-frontend/_/mDJIgYL1Kxj4YR85-bvh5FQnqhY.jpg")
    }

    .login-page-background_307 {
        background-image: url("https://yastatic.net/passport-frontend/_/8va79Qdcw8gY3pF215kmtGvFsw0.jpg")
    }

    .login-page-background_401 {
        background-image: url("https://yastatic.net/passport-frontend/_/JG1xz0Skg2921HgEdYGkvWuX-hM.jpg")
    }

    .login-page-background_402 {
        background-image: url("https://yastatic.net/passport-frontend/_/iMO00bvbu5KY8hzbGh3u-Cu2xqc.jpg")
    }

    .login-page-background_403 {
        background-image: url("https://yastatic.net/passport-frontend/_/UisZebxIvuAAoFw8GdFskYDXLhQ.jpg")
    }

    .login-page-background_501 {
        background-image: url("https://yastatic.net/passport-frontend/_/91pZTvDYD5i508dUeq6b0o71Ti4.jpg")
    }

    .login-page-background_502 {
        background-image: url("https://yastatic.net/passport-frontend/_/x2L9CaD2xABpYlcXeTmqeZ1ppkM.jpg")
    }

    .login-page-background_503 {
        background-image: url("https://yastatic.net/passport-frontend/_/nF-t7x7cXuxQmIauA9dwp9Cmv0o.jpg")
    }

    .login-page-background_601 {
        background-image: url("https://yastatic.net/passport-frontend/_/fHuIkvRkgb2fKHOnO0MHc3itX2o.jpg")
    }

    .login-page-background_602 {
        background-image: url("https://yastatic.net/passport-frontend/_/naRTHkXaVnOSnWOnNG-cNrCCJrQ.jpg")
    }

    .login-page-background_700 {
        background-image: url("https://yastatic.net/passport-frontend/_/Lvg_88o-rv9eH_OKVWjkGnZlc3Y.jpg")
    }

    .login-page-background_901 {
        background-image: url("https://yastatic.net/passport-frontend/_/VQNdC0i3Sio7m6FylXRd793t3Vw.jpg")
    }

    .login-page-background_902 {
        background-image: url("https://yastatic.net/passport-frontend/_/hLrr26X6VVULb_M_P534y8w_vXo.jpg")
    }

    .login-page-background_903 {
        background-image: url("https://yastatic.net/passport-frontend/_/RePMNiFcpRmqilKJiO2K03_Ez_4.jpg")
    }

    .login-page-background_904 {
        background-image: url("https://yastatic.net/passport-frontend/_/IDu16gfXCbU260eS4qzKmznTagY.jpg")
    }

    .login-page-background_905 {
        background-image: url("https://yastatic.net/passport-frontend/_/QrJGS7QpYhBW36JiW5FJXgJxjAg.jpg")
    }

    .login-page-background_906 {
        background-image: url("https://yastatic.net/passport-frontend/_/K_XQkjtT7NMEleyf-9euhPNw5mw.jpg")
    }

    .login-page-background_907 {
        background-image: url("https://yastatic.net/passport-frontend/_/zfrPgmffhs2akRZmkHLXxB0u0ms.jpg")
    }

    .login-page-background_908 {
        background-image: url("https://yastatic.net/passport-frontend/_/WRbUrtJsikd24tMsUKw5Hz8AyJQ.jpg")
    }

    .login-page-background_1001 {
        background-image: url("https://yastatic.net/passport-frontend/_/tlh-IjzHMEVT903MtmEqvbsPRbs.jpg")
    }

    .login-page-background_1002 {
        background-image: url("https://yastatic.net/passport-frontend/_/vNJHFoD4GY6IavCA0vJv6cbINO4.jpg")
    }

    .login-page-background_1003 {
        background-image: url("https://yastatic.net/passport-frontend/_/UZbDkm5MHDQNXy_cCkh4Gfg9OxY.jpg")
    }

    .login-page-background_1004 {
        background-image: url("https://yastatic.net/passport-frontend/_/PTlpvnOqIVJIxrDEO8zP33RYsGc.jpg")
    }

    .login-page-background_1005 {
        background-image: url("https://yastatic.net/passport-frontend/_/pGZk0nGI1EqKK0cFm-B12E1aheY.jpg")
    }

    .login-page-background_1100 {
        background-image: url("https://yastatic.net/passport-frontend/_/YR5H_06knNWkBNXqY45gcRE0lpE.jpg")
    }

    .login-page-background_1200 {
        background-image: url("https://yastatic.net/passport-frontend/_/EGZhuAmHinryLF85HLjNL-mNHDE.jpg")
    }

    .login-page-background_1301 {
        background-image: url("https://yastatic.net/passport-frontend/_/aN3FZrZvop_u6UqZTP7yoAiczsU.jpg")
    }

    .login-page-background_1302 {
        background-image: url("https://yastatic.net/passport-frontend/_/bsJsUrebsDzzFcnipviNM_47XyQ.jpg")
    }

    .login-page-background_1303 {
        background-image: url("https://yastatic.net/passport-frontend/_/9qJu8DR0GKjt_0dmR9MhlF6-CzY.jpg")
    }

    .login-page-background_1400 {
        background-image: url("https://yastatic.net/passport-frontend/_/0QQwDNRue8J9ormi73V0WV9Lh6w.jpg")
    }

    .login-page-background_1500 {
        background-image: url("https://yastatic.net/passport-frontend/_/XmkMXs6vu5zy0FTcEJ3nVwbVbK0.jpg")
    }

    .login-page-background_1601 {
        background-image: url("https://yastatic.net/passport-frontend/_/PRuad1eiwzyp9mwXyQC_GrpHcvM.jpg")
    }

    .login-page-background_1602 {
        background-image: url("https://yastatic.net/passport-frontend/_/T_eu6xCboiGNwGV7MyZe9mJvoXg.jpg")
    }

    .login-page-background_1603 {
        background-image: url("https://yastatic.net/passport-frontend/_/L21gC6VOblw4s-PaWolOyI8-N-I.jpg")
    }

    .login-page-background_1604 {
        background-image: url("https://yastatic.net/passport-frontend/_/KGCgVULi5F2u0f7usayMC8x6XYI.jpg")
    }
}

@media only screen and (min-width: 1441px),only screen and (min-height:811px) {
    .login-page-background_1 {
        background-image:url("https://yastatic.net/passport-frontend/_/8UOJu9lO6wQbPBx9OYZ0cNJGELE.jpg")
    }

    .login-page-background_2 {
        background-image: url("https://yastatic.net/passport-frontend/_/cITdXaU6CQnfwUfN-L6wAcJclWk.jpg")
    }

    .login-page-background_3 {
        background-image: url("https://yastatic.net/passport-frontend/_/TUYqSq5R7b0_GJSp0iAEpkp1HNU.jpg")
    }

    .login-page-background_4 {
        background-image: url("https://yastatic.net/passport-frontend/_/yq1K-WYSMEP2kHfPv8-bbDBbV34.jpg")
    }

    .login-page-background_5 {
        background-image: url("https://yastatic.net/passport-frontend/_/XL5RXUqiRBAhFUTwlLLgwo1z9uk.jpg")
    }

    .login-page-background_6 {
        background-image: url("https://yastatic.net/passport-frontend/_/yT2BFtG7eBuDBzaHdvTV6l52KYg.jpg")
    }

    .login-page-background_7 {
        background-image: url("https://yastatic.net/passport-frontend/_/dr6qbtYJ1Is3IA2qkN7vFmDU2Tg.jpg")
    }

    .login-page-background_8 {
        background-image: url("https://yastatic.net/passport-frontend/_/K6ERW9xmye_d2DR2TWMJX_WFsUc.jpg")
    }

    .login-page-background_9 {
        background-image: url("https://yastatic.net/passport-frontend/_/GhCqkSEzKekDfD_NV8jFc_CuTvY.jpg")
    }

    .login-page-background_10 {
        background-image: url("https://yastatic.net/passport-frontend/_/ascEsj5k74aDcY-17jjVdosUAno.jpg")
    }

    .login-page-background_11 {
        background-image: url("https://yastatic.net/passport-frontend/_/cEQbUk5Jo6Qxw1OAyUCNB3LIKuc.jpg")
    }

    .login-page-background_12 {
        background-image: url("https://yastatic.net/passport-frontend/_/1lGPybEsJE5DImi0JOH5GsNDRhQ.jpg")
    }

    .login-page-background_13 {
        background-image: url("https://yastatic.net/passport-frontend/_/3CYYjA-6FBbQy0pfM-Mf2zlqAZk.jpg")
    }

    .login-page-background_14 {
        background-image: url("https://yastatic.net/passport-frontend/_/9-kMMQpxEXQNYOzrA4LNJM-DKbI.jpg")
    }

    .login-page-background_15 {
        background-image: url("https://yastatic.net/passport-frontend/_/5H-5scMAFw5d5YArxtiOkRfKHUE.jpg")
    }

    .login-page-background_16 {
        background-image: url("https://yastatic.net/passport-frontend/_/sQavrjJ25YX-vZ2xNPAMnzOfXEk.jpg")
    }

    .login-page-background_17 {
        background-image: url("https://yastatic.net/passport-frontend/_/fM7Y4N63aCuBXT5AummzSgXnnd4.jpg")
    }

    .login-page-background_18 {
        background-image: url("https://yastatic.net/passport-frontend/_/r9hdrZNHTDvqxC7Buc9djOMY-rY.jpg")
    }

    .login-page-background_100 {
        background-image: url("https://yastatic.net/passport-frontend/_/hxgoXFAB83kHr0wvR1mcF0K-VSM.jpg")
    }

    .login-page-background_200 {
        background-image: url("https://yastatic.net/passport-frontend/_/K4nvpM6Uj9sucHnjIAuWrqDpS0I.jpg")
    }

    .login-page-background_301 {
        background-image: url("https://yastatic.net/passport-frontend/_/_zQuwPOc4gZfID9IK-MMXDEWxOc.jpg")
    }

    .login-page-background_302 {
        background-image: url("https://yastatic.net/passport-frontend/_/RQ9UMmVRJBSyEb_8RsKRXtwAcPE.jpg")
    }

    .login-page-background_303 {
        background-image: url("https://yastatic.net/passport-frontend/_/ImxCcGgFCysr0H5v0ypDY2KcUxg.jpg")
    }

    .login-page-background_304 {
        background-image: url("https://yastatic.net/passport-frontend/_/ESCXDXKQvI917GLlTRy3lEHi2mM.jpg")
    }

    .login-page-background_305 {
        background-image: url("https://yastatic.net/passport-frontend/_/EZpKQ1bflBJ13LTvPMHKIlIj8N8.jpg")
    }

    .login-page-background_306 {
        background-image: url("https://yastatic.net/passport-frontend/_/ZZ1czqMTMFWeQfz1hwDw1te7Lj8.jpg")
    }

    .login-page-background_307 {
        background-image: url("https://yastatic.net/passport-frontend/_/_zkE8X18tJy0uvfcMD5y3atP3W4.jpg")
    }

    .login-page-background_401 {
        background-image: url("https://yastatic.net/passport-frontend/_/tIf5O7nbhLrWQW76mcxvAXUUuO0.jpg")
    }

    .login-page-background_402 {
        background-image: url("https://yastatic.net/passport-frontend/_/gk-W_qNyBi6-bVFryE0QfJV5I2U.jpg")
    }

    .login-page-background_403 {
        background-image: url("https://yastatic.net/passport-frontend/_/NWMO_Caf9ITdiXAZPDk100576zs.jpg")
    }

    .login-page-background_501 {
        background-image: url("https://yastatic.net/passport-frontend/_/inid7Wuc9w08rnMhf4A2mQnYdn8.jpg")
    }

    .login-page-background_502 {
        background-image: url("https://yastatic.net/passport-frontend/_/K3fKtLXAIcpoecjmsPLpvKRy1-g.jpg")
    }

    .login-page-background_503 {
        background-image: url("https://yastatic.net/passport-frontend/_/8dMU06Uz7XqhvKeI5VFfHNqAaks.jpg")
    }

    .login-page-background_601 {
        background-image: url("https://yastatic.net/passport-frontend/_/tEHNtBUtWwIgOKsAzeqx0-8GIGk.jpg")
    }

    .login-page-background_602 {
        background-image: url("https://yastatic.net/passport-frontend/_/JuC-atKQee02Cc-7hp5w_Xo-VGQ.jpg")
    }

    .login-page-background_700 {
        background-image: url("https://yastatic.net/passport-frontend/_/6Xjzcb8-J6Z0zqfg-QXoZmvvPLA.jpg")
    }

    .login-page-background_901 {
        background-image: url("https://yastatic.net/passport-frontend/_/PsafCjP2y_6KVRVmuTaE1cY9V1w.jpg")
    }

    .login-page-background_902 {
        background-image: url("https://yastatic.net/passport-frontend/_/acpEHp0pYPvazg94svDJ526xxBo.jpg")
    }

    .login-page-background_903 {
        background-image: url("https://yastatic.net/passport-frontend/_/rnXM87oLTnrXrtUUsCeS_tebke8.jpg")
    }

    .login-page-background_904 {
        background-image: url("https://yastatic.net/passport-frontend/_/G6iaU9toDXDvneZo0trCrejlh5k.jpg")
    }

    .login-page-background_905 {
        background-image: url("https://yastatic.net/passport-frontend/_/AUpk3dCQanAQ_plxw6-H9V2HXio.jpg")
    }

    .login-page-background_906 {
        background-image: url("https://yastatic.net/passport-frontend/_/REHLp5UbOEVg2rBJPPruztQnEZ0.jpg")
    }

    .login-page-background_907 {
        background-image: url("https://yastatic.net/passport-frontend/_/GfRLwt2fWt9uG_MUwlr5B0A8iPo.jpg")
    }

    .login-page-background_908 {
        background-image: url("https://yastatic.net/passport-frontend/_/lEkd_2A-YOgxhGKa0La8Qjl7_sg.jpg")
    }

    .login-page-background_1001 {
        background-image: url("https://yastatic.net/passport-frontend/_/PqlMlreKUHmi3uD_rbBDrZMbefU.jpg")
    }

    .login-page-background_1002 {
        background-image: url("https://yastatic.net/passport-frontend/_/LgduZl_DM4JVxZqhiwZDyQbYqac.jpg")
    }

    .login-page-background_1003 {
        background-image: url("https://yastatic.net/passport-frontend/_/fEFrNlFJ9wdTZOgBDyZr5eEndlE.jpg")
    }

    .login-page-background_1004 {
        background-image: url("https://yastatic.net/passport-frontend/_/bEqTlysHUjYitToyFBbESYPlk8U.jpg")
    }

    .login-page-background_1005 {
        background-image: url("https://yastatic.net/passport-frontend/_/m-ZvLrBHjfywQsxm2j7RDgw__Qc.jpg")
    }

    .login-page-background_1100 {
        background-image: url("https://yastatic.net/passport-frontend/_/uNKQ5BchIMvt6ttQbqv6nvEXOEw.jpg")
    }

    .login-page-background_1200 {
        background-image: url("https://yastatic.net/passport-frontend/_/BiCziZH4KHA2QU6nHof1Uet7Cz4.jpg")
    }

    .login-page-background_1301 {
        background-image: url("https://yastatic.net/passport-frontend/_/rH6cRwRPETSwPQdMh3YanRY1Cvk.jpg")
    }

    .login-page-background_1302 {
        background-image: url("https://yastatic.net/passport-frontend/_/3yWz-BTwEfy7UMXXOkRWaZSi56w.jpg")
    }

    .login-page-background_1303 {
        background-image: url("https://yastatic.net/passport-frontend/_/8QPgcxrncXaeYY60lDli9rOlHmA.jpg")
    }

    .login-page-background_1400 {
        background-image: url("https://yastatic.net/passport-frontend/_/qsApjfsUzosxZ72g5eeJt37MKWw.jpg")
    }

    .login-page-background_1500 {
        background-image: url("https://yastatic.net/passport-frontend/_/JG7h1EGP2AZOZ_pdNYv6Tps9rhw.jpg")
    }

    .login-page-background_1601 {
        background-image: url("https://yastatic.net/passport-frontend/_/0Q_IWaZ1V_lYwxOzJgtdPsopPLw.jpg")
    }

    .login-page-background_1602 {
        background-image: url("https://yastatic.net/passport-frontend/_/lIBgiyxpmzCA_GAoItJ4aT6uLzM.jpg")
    }

    .login-page-background_1603 {
        background-image: url("https://yastatic.net/passport-frontend/_/YBCjmdLg_bQi8YIc-K_8rqHg9XA.jpg")
    }

    .login-page-background_1604 {
        background-image: url("https://yastatic.net/passport-frontend/_/MNw1KTXDWbRFRpUSPwfCiCmNeaI.jpg")
    }
}

@media only screen and (min-width: 1681px),only screen and (min-height:946px) {
    .login-page-background_1 {
        background-image:url("https://yastatic.net/passport-frontend/_/sTgxaWK5INIOr_-2DCzosHV6GbI.jpg")
    }

    .login-page-background_2 {
        background-image: url("https://yastatic.net/passport-frontend/_/oFaVbkqks07DmlJ9gwhw8a-Vm3c.jpg")
    }

    .login-page-background_3 {
        background-image: url("https://yastatic.net/passport-frontend/_/hcskTdATBlEz9d1AHZk25KiztMQ.jpg")
    }

    .login-page-background_4 {
        background-image: url("https://yastatic.net/passport-frontend/_/quJYrMLQvSF5N0M0g7kiCbnuV-Q.jpg")
    }

    .login-page-background_5 {
        background-image: url("https://yastatic.net/passport-frontend/_/1RaVnLHgwtHIO78bi3sieXF3V1M.jpg")
    }

    .login-page-background_6 {
        background-image: url("https://yastatic.net/passport-frontend/_/dwPQfrdw6TvH2yg4_xJEnbXa3cc.jpg")
    }

    .login-page-background_7 {
        background-image: url("https://yastatic.net/passport-frontend/_/4TVSA_06WxsXnti8dRdqoJRceBc.jpg")
    }

    .login-page-background_8 {
        background-image: url("https://yastatic.net/passport-frontend/_/ltTyL2DZTTEpSzUMIqFaXF7Q61g.jpg")
    }

    .login-page-background_9 {
        background-image: url("https://yastatic.net/passport-frontend/_/DAs5CEEEKZ_ZJz2RHsv0qZO0-FY.jpg")
    }

    .login-page-background_10 {
        background-image: url("https://yastatic.net/passport-frontend/_/fkTknKTFGfrpsqFYqstRFAytzMk.jpg")
    }

    .login-page-background_11 {
        background-image: url("https://yastatic.net/passport-frontend/_/Ylvz9HWQWrTXA5P6Mbt9dKn9HTY.jpg")
    }

    .login-page-background_12 {
        background-image: url("https://yastatic.net/passport-frontend/_/Y85C9kIdTZNeRM_iH2EcKjOPG-8.jpg")
    }

    .login-page-background_13 {
        background-image: url("https://yastatic.net/passport-frontend/_/XAk-T5nUBq_-qxAry9HDXEQbBkk.jpg")
    }

    .login-page-background_14 {
        background-image: url("https://yastatic.net/passport-frontend/_/5ygEnkWI2E-PQVRIAcgJwSapzS4.jpg")
    }

    .login-page-background_15 {
        background-image: url("https://yastatic.net/passport-frontend/_/TQHuQdEs_mCOSBalUjm4OIkaAsw.jpg")
    }

    .login-page-background_16 {
        background-image: url("https://yastatic.net/passport-frontend/_/it_cer9psyGw2xuXsciNL5iPu_E.jpg")
    }

    .login-page-background_17 {
        background-image: url("https://yastatic.net/passport-frontend/_/Dt6CxWiTS5dOyXipl7O2Cn-EER8.jpg")
    }

    .login-page-background_18 {
        background-image: url("https://yastatic.net/passport-frontend/_/P6-BdaPPYTYagiqJute6cUkOnIw.jpg")
    }

    .login-page-background_100 {
        background-image: url("https://yastatic.net/passport-frontend/_/CtLGSr87Mswt4flQjJ8JJ6urssU.jpg")
    }

    .login-page-background_200 {
        background-image: url("https://yastatic.net/passport-frontend/_/e_YzoeDKMPwD6zgGqr_TdUrJfg0.jpg")
    }

    .login-page-background_301 {
        background-image: url("https://yastatic.net/passport-frontend/_/aFmvxswObb3M6oelhsxrsbZZ3m0.jpg")
    }

    .login-page-background_302 {
        background-image: url("https://yastatic.net/passport-frontend/_/YB0Ws4abd1tW1vOMBuavy6RUY2w.jpg")
    }

    .login-page-background_303 {
        background-image: url("https://yastatic.net/passport-frontend/_/4wdsl6fCLpVUajyw2Ca-bHtUd_E.jpg")
    }

    .login-page-background_304 {
        background-image: url("https://yastatic.net/passport-frontend/_/b7pPu17uqkN7JLXznEF3FwSJvn8.jpg")
    }

    .login-page-background_305 {
        background-image: url("https://yastatic.net/passport-frontend/_/pgV8u2x-g6htd9ITq0CWXf1lQXc.jpg")
    }

    .login-page-background_306 {
        background-image: url("https://yastatic.net/passport-frontend/_/by3ny6ES5Ih9WzdSnsWb282Rny4.jpg")
    }

    .login-page-background_307 {
        background-image: url("https://yastatic.net/passport-frontend/_/XVn-qLfqVq4M3fN6xQrbhDScBYE.jpg")
    }

    .login-page-background_401 {
        background-image: url("https://yastatic.net/passport-frontend/_/df1gAehxP4BM_2FAfm_qX-6Lyi4.jpg")
    }

    .login-page-background_402 {
        background-image: url("https://yastatic.net/passport-frontend/_/fMtIZ7sJgcglSWNg1auC6exu4Lk.jpg")
    }

    .login-page-background_403 {
        background-image: url("https://yastatic.net/passport-frontend/_/d-lAq6LA7wfdzkdI0qCxFH3vH_g.jpg")
    }

    .login-page-background_501 {
        background-image: url("https://yastatic.net/passport-frontend/_/2gsaRK8IVXtsCtic6lz0ehzLaqU.jpg")
    }

    .login-page-background_502 {
        background-image: url("https://yastatic.net/passport-frontend/_/TVE87yWb7YVkFCiUj1fr4LKoMXw.jpg")
    }

    .login-page-background_503 {
        background-image: url("https://yastatic.net/passport-frontend/_/FekbKHUHOSGygDznnX7uif5nh-I.jpg")
    }

    .login-page-background_601 {
        background-image: url("https://yastatic.net/passport-frontend/_/tqfe4nATAQsjQDRKWmtOzwMs1hk.jpg")
    }

    .login-page-background_602 {
        background-image: url("https://yastatic.net/passport-frontend/_/wbkV51Jefl37NrFyHFpS6zkKz0I.jpg")
    }

    .login-page-background_700 {
        background-image: url("https://yastatic.net/passport-frontend/_/QSaSWI1ig5TfYQsKUn1nuVYzRog.jpg")
    }

    .login-page-background_901 {
        background-image: url("https://yastatic.net/passport-frontend/_/Modxz6OVI65TOWsKUqm_Atztd6A.jpg")
    }

    .login-page-background_902 {
        background-image: url("https://yastatic.net/passport-frontend/_/88Qs0G77QROwJVNogZE3gjdfrU4.jpg")
    }

    .login-page-background_903 {
        background-image: url("https://yastatic.net/passport-frontend/_/ntAncWgV9Al7cCDnqZMr18Px3Qw.jpg")
    }

    .login-page-background_904 {
        background-image: url("https://yastatic.net/passport-frontend/_/MmXfJgHhnjAI7NQxX9M0iW5Ukgw.jpg")
    }

    .login-page-background_905 {
        background-image: url("https://yastatic.net/passport-frontend/_/ofFyoliH97SkpmuvAd7W-V4CnXw.jpg")
    }

    .login-page-background_906 {
        background-image: url("https://yastatic.net/passport-frontend/_/KVPd1N6kdpPwG4R5fsLFB8EDByE.jpg")
    }

    .login-page-background_907 {
        background-image: url("https://yastatic.net/passport-frontend/_/NhqVFwRb1X-TLLybaVADt8LqUg.jpg")
    }

    .login-page-background_908 {
        background-image: url("https://yastatic.net/passport-frontend/_/Pg633TD0cJTOv9B8E_x5-X4YcAY.jpg")
    }

    .login-page-background_1001 {
        background-image: url("https://yastatic.net/passport-frontend/_/Hu_t00YaaHIAd2JamBoK2urNuiU.jpg")
    }

    .login-page-background_1002 {
        background-image: url("https://yastatic.net/passport-frontend/_/l5zv7TFZhXmbFjcX9PLZajq2xKA.jpg")
    }

    .login-page-background_1003 {
        background-image: url("https://yastatic.net/passport-frontend/_/n0jLaVsDquU7-z8gSReD3dlYiE4.jpg")
    }

    .login-page-background_1004 {
        background-image: url("https://yastatic.net/passport-frontend/_/KYwkSI5VN3qTM6wxgxiRplto-ZM.jpg")
    }

    .login-page-background_1005 {
        background-image: url("https://yastatic.net/passport-frontend/_/99xb4KVkxHkWqAzDGVjDyxId688.jpg")
    }

    .login-page-background_1100 {
        background-image: url("https://yastatic.net/passport-frontend/_/e-vnB5eJaOM4tbCcG3pW6q5E_1o.jpg")
    }

    .login-page-background_1200 {
        background-image: url("https://yastatic.net/passport-frontend/_/sfWvM4guLSxmQY9q3dpPDGMlaew.jpg")
    }

    .login-page-background_1301 {
        background-image: url("https://yastatic.net/passport-frontend/_/rH6cRwRPETSwPQdMh3YanRY1Cvk.jpg")
    }

    .login-page-background_1302 {
        background-image: url("https://yastatic.net/passport-frontend/_/3yWz-BTwEfy7UMXXOkRWaZSi56w.jpg")
    }

    .login-page-background_1303 {
        background-image: url("https://yastatic.net/passport-frontend/_/p3iZDNF3ZxxDH-ULE6R7qsCgHas.jpg")
    }

    .login-page-background_1400 {
        background-image: url("https://yastatic.net/passport-frontend/_/Uhiadnqis0Ccg5AuwVyRwIPoj2I.jpg")
    }

    .login-page-background_1500 {
        background-image: url("https://yastatic.net/passport-frontend/_/Vb7PYouDXNCrx1csuj_ub_e_kYg.jpg")
    }

    .login-page-background_1601 {
        background-image: url("https://yastatic.net/passport-frontend/_/cQmhUdewanCqsmaUW9WLLv0E3Yc.jpg")
    }

    .login-page-background_1602 {
        background-image: url("https://yastatic.net/passport-frontend/_/WEIF9sxPrU7w5TkP3035lUZOHWw.jpg")
    }

    .login-page-background_1603 {
        background-image: url("https://yastatic.net/passport-frontend/_/3bom57slHNtd9EbWw83VqfWqs88.jpg")
    }

    .login-page-background_1604 {
        background-image: url("https://yastatic.net/passport-frontend/_/WcJs6Q_JcpNxFQbTn5C5zUAaXJI.jpg")
    }
}