<link rel="stylesheet" href="static/css/login.css">
<link rel="stylesheet" href="static/css/yandex-background.css">

<div class="login-page-body">
    <div class="login-page-background"></div>

    <div class="login-page">
        <div class="login-page-form">
            <form class="" role="form">
                <div class="form-login form" data-type="login">
                    <img class="login-page__competition-logo" src="https://ctfcup.ru/img/partners/sibirctf.png" />

                    <div class="alert alert-danger message" role="alert" style="display: none;">Произошла ошибка</div>
                    <div class="group">
                        <input type="text" id="inputEmail" required="required" autofocus /><span class="highlight"></span><span class="bar"></span>
                        <label>Логин</label>
                    </div>
                    <div class="group">
                        <input type="password" id="inputPassword" required="required"/><span class="highlight"></span><span class="bar"></span>
                        <label>Пароль</label>
                    </div>

                    <button class="btn btn-warning btn-block" type="button" id="submit">Войти</button> <br />
                    <button class="btn btn-link" type="button" id="button-signup">У меня нет аккаунта</button>
                </div>
                <div class="form-signup form" style="display: none;" data-type="signup">
                    <h2 class="form-signin-heading">Регистрация</h2>
                    <div class="alert alert-danger message" role="alert" style="display: none;">Произошла ошибка</div>

                    <div class="group">
                        <input type="text" id="inputSignupLogin" required="required" autofocus /><span class="highlight"></span><span class="bar"></span>
                        <label>Логин</label>
                    </div>
                    <div class="group">
                        <input type="text" id="inputSignupEmail" required="required" autofocus /><span class="highlight"></span><span class="bar"></span>
                        <label>Почтовый адрес</label>
                    </div>
                    <div class="group">
                        <input type="password" id="inputSignupPassword" required="required" autofocus /><span class="highlight"></span><span class="bar"></span>
                        <label>Пароль</label>
                    </div>

<!--
                    <div class="form-group">
                        <div class="input-group form-token">
                            <input type="password" id="inputSignupToken" class="form-control" placeholder="Введите токен" value="" name="inputSignupToken">
                            <div class="input-group-btn">
                                <button id="button-token" class="btn btn-default" type="button">Нет токена</button>
                            </div>
                        </div>
                        <div class="input-group form-team hidden">
                            <input type="text" id="inputSignupTeamName" class="form-control" placeholder="Название команды" name="inputSignupTeamName">
                            <div class="input-group-btn">
                                <button id="button-token" class="btn btn-default" type="button">А нет, появился</button>
                            </div>
                        </div>
                    </div>-->
                    <button class="btn btn-warning btn-block" id="submit" type="button">Зарегистрироваться</button> <br />
                        <button class="btn btn-link" type="button" id="button-login">Назад ко входу</button>
                </div>
            </form>
        </div>
        <div class="login-page__footer login-bar__scoreboard">Таблица результатов</div>
    </div>
    <div class="login-page-bottom">
        &copy;&#160;2018, KEVA
    </div>
    <div class="login-page-scoreboard">
        <div class="login-page-scoreboard__close"></div>
        <img class="login-page__competition-logo" src="https://ctfcup.ru/img/partners/sibirctf.png" />
        <h2 class="text-center">Таблица результатов</h2>
        <table class="login-page-scoreboard-table table table-hover">
            <tbody class="results"></tbody>
        </table>
    </div>
</div>